/* 
    ############################################
    ###### STYLING SETTINGS FOR ALL PAGES ######
    ############################################
*/

* {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

    background-color: #f4f4f4;
    /* background-color: pink; */
    /* Above is for testing purposes */

    width: 100vw;
    height: auto;

    overflow-x: hidden
}

/* SCROLL BAR */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 20px #FCF7F8;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #50555f;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ABA9C3;
}

/*On click*/
::-webkit-scrollbar-thumb:active {
    background: #275DAD;
}