{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chess App</title>

    <link rel="icon" href="{% static 'images/chessLogo.png' %}">

    <!-- ######################## FONTS ########################-->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">

    <!-- ######################## CSS STYLE SHEETS ########################-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">

    {% block extra_styles %}
    {% endblock %}
</head>

<body>

    <div class='block'>
        <div class="mainBG">
            <img src="{% static 'images/chessLogo.png' %}" class="mainBgImg" alt="Cafe Background" />
            <div class="behindLogo">
            </div>
        </div>
    </div>

    <div class="loadInBox">
    </div>

    <div class="content-box">
        <div class="left-div">
            <div class="navbar-left">
                <img src="{% static 'images/chessLogo.png' %}" alt="Chess Logo">
                <a href="#">Tutorial</a>
                <a href="#">About us</a>
                <a href="#">How to Play</a>
            </div>
            <div class="chess-wheel">
                <div class="chess-slide">
                    <img src="{% static 'images/horse.png' %}" />
                    <img src="{% static 'images/queen.png' %}" />
                    <img src="{% static 'images/pawn.png' %}" />
                    <img src="{% static 'images/bishop.png' %}" />
                    <img src="{% static 'images/rook.png' %}" />
                </div>
                <div class="chess-slide">
                    <img src="{% static 'images/horse.png' %}" />
                    <img src="{% static 'images/queen.png' %}" />
                    <img src="{% static 'images/pawn.png' %}" />
                    <img src="{% static 'images/bishop.png' %}" />
                    <img src="{% static 'images/rook.png' %}" />
                </div>
                <div class="chess-slide">
                    <img src="{% static 'images/horse.png' %}" />
                    <img src="{% static 'images/queen.png' %}" />
                    <img src="{% static 'images/pawn.png' %}" />
                    <img src="{% static 'images/bishop.png' %}" />
                    <img src="{% static 'images/rook.png' %}" />
                </div>
            </div>
            <div class="chess-wheel-right">
                <div class="chess-slide-right">
                    <img src="{% static 'images/horse.png' %}" />
                    <img src="{% static 'images/queen.png' %}" />
                    <img src="{% static 'images/pawn.png' %}" />
                    <img src="{% static 'images/bishop.png' %}" />
                    <img src="{% static 'images/rook.png' %}" />
                </div>
                <div class="chess-slide-right">
                    <img src="{% static 'images/horse.png' %}" />
                    <img src="{% static 'images/queen.png' %}" />
                    <img src="{% static 'images/pawn.png' %}" />
                    <img src="{% static 'images/bishop.png' %}" />
                    <img src="{% static 'images/rook.png' %}" />
                </div>
                <div class="chess-slide-right">
                    <img src="{% static 'images/horse.png' %}" />
                    <img src="{% static 'images/queen.png' %}" />
                    <img src="{% static 'images/pawn.png' %}" />
                    <img src="{% static 'images/bishop.png' %}" />
                    <img src="{% static 'images/rook.png' %}" />
                </div>
            </div>
        </div>

        <div class="right-div">
            <div class="navbar-right">
                <a href="#">Play</a>

                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Log Out</a>
                {% else %}
                <a href="{% url 'login' %}">Log In</a>
                {% endif %}
            </div>

            <div class="welcome-title">
                {% if user.is_authenticated %}
                <h1>{{ user.username }}!</h1>
                {% else %}
                <!-- Nothing displayed if the user is not logged in -->
                {% endif %}
                <p class="title"></p>
            </div>
        </div>
    </div>
    <!-- 
        ###########################################################################################################################################
        ######################## HERE IS THE DIV CODE NOTE FEEL FREE TO COPY AND PASTE => JUST EDIT IT HOWEVER YOU NEED TO ######################## 
        ###########################################################################################################################################
-->

    <div class="content-box">
        <div class="left-content-box">
            <img src="{% static 'images/chess.jpg' %}" id="content-chess-pic" />
        </div>
        <div class="right-content-box">
            <div class="right-content-box content-title">
                <h2>
                    About MyChess
                </h2>
            </div>
            <div class="right-content-box content-desc">
                <h6>
                    Welcome to MyChess! A platform to play online chess with a twist.
                    MyChess offers classic chess with additional features from trap
                    spaces to random piece promotion, our site is perfect to challenge
                    players worldwide. You have the choice to pick and chose what features
                    you want when you play so test your skills by playing another user live.
                    Join our community today and take your chess experiences to the next level!
                </h6>
            </div>

            <div class="right-content-box content-footer" style="display: flex; 
                                                    justify-content: left; 
                                                    align-items: center;
                                                    background-color: rgb(133, 133, 133);
                                                    border-radius: 45px;">
                <div style="display: flex;
                        align-items: center;
                        height: 100%;
                        color: rgb(129, 129, 129);">

                    <img id="right-content-icon" src="{% static 'images/chessLogo.png' %}" style="height: 45%;">
                    <span style="color: rgb(255, 255, 255);"> Play Now</span>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>

    <!-- 
        ###########################################################################################################################################
        ######################## HERE IS THE DIV CODE NOTE FEEL FREE TO COPY AND PASTE => JUST EDIT IT HOWEVER YOU NEED TO ######################## 
        ###########################################################################################################################################
-->

    <!-- 
        #######################################
        ##### FIRST CONTENT BOX TEMPLATES #####
        #######################################
-->

    <!-- 
        <div class="content-box">
            <div class="left-content-box">
            </div>
            <div class="right-content-box">
            </div>
        </div> 
-->

    <!-- 
        #####################
        ##### ABOUT BOX #####
        #####################
-->

    <div class="about-us">

        <div class="about-us sectionSection">
            <div class="about-us sectionSection box">
                <div class="about-us sectionSection box icon">
                    <img src="{% static 'images/Christian.jpg' %}" class="profile-picture" />
                </div>
                <div class="about-us sectionSection box developer">
                    <div class="about-us sectionSection box developer details">
                        <h1 style="font-weight: bold">
                            Christian Michael Lagura Yacapin
                        </h1>
                        Hi, I’m Christian Michael Lagura Yacapin, your Lead Class Engineer! I focus on designing and
                        developing efficient, scalable object-oriented programming (OOP) classes to bring our projects
                        to life while ensuring they’re well-structured and maintainable—let’s build something awesome
                        together!
                    </div>
                </div>
            </div>

            <!-- #####################
            ###### BOX TWO ######
            ##################### -->

            <div class="about-us sectionSection box">
                <div class="about-us sectionSection box developerRight">
                    <div class="about-us sectionSection box developer details2">
                        <h1 style="font-weight: bold">
                            Christian Ya damn
                        </h1>
                        Professional Lacker
                    </div>
                </div>
                <div class="about-us sectionSection box icon">
                    <img src="{% static 'images/sigma.jpg' %}" class="profile-picture" />
                </div>
            </div>
        </div>

        <!-- 
        ###################################################
        ################ SECTION SEPARATOR ################
        ###################################################
        -->

        <div class="about-us sectionSection">
            <div class="about-us sectionSection box">
                <div class="about-us sectionSection box icon">
                    <img src="{% static 'images/sigma.jpg' %}" class="profile-picture" />
                </div>
                <div class="about-us sectionSection box developer">
                    <div class="about-us sectionSection box developer details">
                        <h1 style="font-weight: bold">
                            Christian Ya Capping
                        </h1>
                        Professional Lacker
                    </div>
                </div>
            </div>

            <!-- #####################
            ###### BOX TWO ######
            ##################### -->

            <div class="about-us sectionSection box">
                <div class="about-us sectionSection box developerRight">
                    <div class="about-us sectionSection box developer details2">
                        <h1 style="font-weight: bold">
                            Christian Ya damn
                        </h1>
                        Professional Lacker
                    </div>
                </div>
                <div class="about-us sectionSection box icon">
                    <img src="{% static 'images/sigma.jpg' %}" class="profile-picture" />
                </div>
            </div>
        </div>

        <!-- 
        ###################################################
        ################ SECTION SEPARATOR ################
        ###################################################
        -->

        <div class="about-us sectionSection">
            <div class="about-us sectionSection box">
                <div class="about-us sectionSection box icon">
                    <img src="{% static 'images/diana.jpg' %}" class="profile-picture" />
                </div>
                <div class="about-us sectionSection box developer">
                    <div class="about-us sectionSection box developer details">
                        <h1 style="font-weight: bold">
                            Diana Williams Oshun
                        </h1>

                    </div>
                </div>
            </div>

            <!-- #####################
            ###### BOX TWO ######
            ##################### -->

            <div class="about-us sectionSection box">
                <div class="about-us sectionSection box developerRight">
                    <div class="about-us sectionSection box developer details2">
                        <h1 style="font-weight: bold">
                            RJ Paraiso - Team Leader
                        </h1>
                        Hi! Team lead here. I'm responsible for the overall direction of the project.
                        <br />
                        I'm also a developer, and helped with the overall programming aspect of this application.
                    </div>
                </div>
                <div class="about-us sectionSection box icon">
                    <img src="{% static 'images/lead.jpg' %}" class="profile-picture" />
                </div>
            </div>
        </div>

        <!-- 
        ###################################################
        ################ SECTION SEPARATOR ################
        ###################################################
        -->

    </div>
</body>

</html>